<!doctype html>
{% load static %}
{% load template_tools %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
      <title>Mater Headlight — Auto Detailing Supplies, Chemicals, Equipment, Accessories and more</title>
    {% endblock %}
    <meta name="description" content="Car shop Mater headlight">

    {% block icon %}
      <link rel="icon" sizes="32x32" href="{% static '/shop/images/small_logo.svg' %}">
    {% endblock %}

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'css/border_box_sizing.css' %}" />
    <link rel="stylesheet" href="{% static 'css/alignment.css' %}" />
    <link rel="stylesheet" href="{% static 'css/indentation_margin.css' %}" />
    <link rel="stylesheet" href="{% static 'css/indentation_padding.css' %}" />
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/no_horizontal_scrolling.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form_inputs.css' %}" />
    <link rel="stylesheet" href="{% static 'css/containers.css' %}" />
    <link rel="stylesheet" href="{% static 'css/links.css' %}" />

    <link rel="stylesheet" href="{% static 'shop/css/base_style.css' %}" />
    {% block extrastyle %}{% endblock %}

  </head>

  <body>
    <header>
      <nav class="navbar--expand--m--dark fixed-top">
        <div class="container">
          {% if request.user.is_authenticated %}
            <img src="{{ request.user.profile.avatar.url }}" height="47px"/>
          {% else %}
            <img src="{% static '/shop/images/small_logo.svg' %}" height="47px">
          {% endif %}

          <button class="navbar__toggler" type="button">
            <div class="navbar__toggler__inner">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </button>

          <div class="navbar__collapse">
            <ul class="navbar__collapse__left">
              {% url 'shop:home' as home_url %}
              {% url 'shop:login' as login_url %}
              {% url 'shop:logout' as logout_url %}
              {% url 'shop:register' as register_url %}
              {% url 'shop:products' as products_url %}
              {% url 'admin:index' as admin_url %}
              {% url 'shop:faqs' as faqs_url %}

              {% exec
                 nav_links = (
                     (home_url, "Home"),
                     (logout_url, "Logout") if request.user.is_authenticated else (login_url, "Login"),
                     (register_url, "Register"),
                     (products_url, "Profile"),
                     (products_url, "Buys"),
                     (admin_url, "Admin panel") if user.is_superuser else (faqs_url, "<abbr>FAQ</abbr>"),
                 )
              %}

              {% for ref, text in nav_links %}
                <li class="navbar__collapse__item">
                  <a href="{{ ref }}" class="nav-link">{{ text|safe }}</a>
                </li>
              {% endfor %}
            </ul>

            <ul class="navbar__collapse__right">
              <li class="navbar__collapse__item">
                <form action="" class="d-flex">
                  <input type="search" class="form-control not-focused" placeholder="Search" value="{{ timer_value }}">

                  <button
                    type="button"
                    class="btn-outline-yellow ml-1"
                    data-toggle="button"
                    aria-pressed="false">
                    Search
                  </button>

                  <span id="timer" style="color: white; font-size: 30px; margin-left: 10px;">{{ tamer_value }}</span>

                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main itemtype="https://schema.org/Movie">
      {% block content %}{% endblock %}
    </main>

    {% block pagination %}
      <div class="container-fluid">
        <div class="row">
          {% if is_paginated %}
            <div class="pagination">
              <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
              </span>
            </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}

    {% block scripts %}
      <script src="{% static '/js/navigation.js' %}"></script>
      <script src="{% static '/shop/js/timer.js' %}"></script>
      <script>foo({{ seconds }}, "timer")</script>
    {% endblock %}
  </body>
</html>
