{% extends "shop/carousel.html" %}

{% block under_carousel %}
  <h1>Name: {{ product.name }}</h1>
  <p><strong>Price:</strong> {{ product.price }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Providers</h4>

    {% for provider in product.providers.all %}
    <hr>
    <p><strong>Name:</strong> {{provider.username}}</p>
    <p class="text-muted"><strong>Phone:</strong> {{provider.profile.phone}}</p>
    {% endfor %}

    <img src="{{ product.image.url }}">
  </div>
{% endblock %}