{% extends "shop/carousel.html" %}

{% block under_carousel %}
  <div class="container">
    <h2 class="text-center my-5">Categories</h2>

    <div class="row gy-5">

      {% for category in categories %}
        <div class="col-md-4 col-sm-6 text-center">
          <img src="{{category.image.url}}" height="100px"/>
          <h4>{{ category.name }}</h4>
        </div>
      {% empty %}
        <h2 class="text-center my-5">No Categories</h2>
      {% endfor %}

    </div>
  </div>
{% endblock %}

{% block carousel_interval %}5000{% endblock %}

<li class="li" data-lazy-load-enabled="1">


</li>