{% extends 'shop/carousel.html' %}
{% load static %}
{% load template_tools %}

{% block content %}
  <form method="POST" class="requires-validation" novalidate>
    {% csrf_token %}

    <div class="container h-100" style="padding-top: 37px">
	  <div class="row d-flex justify-content-center align-items-center h-100">
	    <div class="col-lg-8 col-xl-6">
		  <div class="card rounded-3">
		    <div class="card-body py-4 px-4 px-md-5">
			  <h3 class="mb-4 pb-2 pb-md-0 px-md-2 text-center">Registration</h3>

			  <div class="px-md-2">
			    <script src="{% static '/shop/js/validators.js' %}"></script>

				{% eval ((form['username'],),) as username_fieldset %}

			    {% eval (
				  (form['password1'], ),
				  (form['password2'], f"validatePasswordConfirmation("
				                          + f"'{form['password1'].auto_id}',"
				                          + f"'{form['password2'].auto_id}')")) as password_fieldset %}

				{% eval ((form['email'],),) as email_fieldset %}

				{% eval ((form['first_name'],),
				         (form['last_name'],)) as names_fieldset %}

			    {% eval ((form['phone'], f"validatePhone('{form['phone'].auto_id}')"),
				         (form['address'], f"validateAddress('{form['address'].auto_id}')")) as profile_fieldset %}

			    {% eval (username_fieldset,
				         password_fieldset,
				         email_fieldset,
				         names_fieldset,
				         profile_fieldset) as fieldsets %}

			    {% for fieldset in fieldsets %}
			      <div class="row">

				    {% eval 12 // len(fieldset) as w %}
				    {% eval f"col-md-{w} mb-4" as field_class %}


				    {% for field_validator_pair in fieldset %}
					  {% eval field_validator_pair[0] as field %}

					  {% if field_validator_pair|length > 1 %}
					    {% eval field_validator_pair[1] as validator %}
					  {% else %}
					    {% eval "" as validator %}
				      {% endif %}


					  <script src="{% static '/shop/js/clear_field_errors.js' %}"></script>

				      <div class="{{ field_class }}">
						{% eval field.field.widget.input_type == 'password' as is_password %}

					      <label class="form-label" for="{{ field.id_for_label }}">
						    {{ field.label }}
						  </label>



						  {% if is_password %}<div class="input-group">{% endif %}

						  {% if field.field.required %}
							  <input
								type="{% if is_password %}password{% else %}text{% endif %}"
								id="{{ field.auto_id }}"
								name="{{ field.name }}"
								value="{% if field.value %}{{ field.value }}{% endif %}"
								class="form-control {% if field.errors %}is-invalid{% endif %}"
								data-validator="{{ validator }}"
								oninput="clearFieldErrors(this.id)"
								required/>
						  {% else %}
							  <input
								type="{% if is_password %}password{% else %}text{% endif %}"
								id="{{ field.auto_id }}"
								name="{{ field.name }}"
								value="{% if field.value %}{{ field.value }}{% endif %}"
								class="form-control {% if field.errors %}is-invalid{% endif %}"
								data-validator="{{ validator }}"
								oninput="clearFieldErrors(this.id)"/>
						  {% endif %}

						  {% if is_password %}
						    <script src="{% static '/shop/js/password_show_hide.js' %}"></script>

						  	{% eval f"{field.auto_id}_show" as id_password_show %}
						    {% eval f"{field.auto_id}_hide" as id_password_hide %}
							  <div
								class="input-group-append d-flex">
								<span
								  class="input-group-text"

								  onclick="passwordShowHide(
											 '{{ field.auto_id }}',
											 '{{ id_password_show }}',
											 '{{ id_password_hide }}'
										   );">

								  <i class="fas fa-eye" id="{{ id_password_show }}"></i>
								  <i class="fas fa-eye-slash d-none" id="{{ id_password_hide }}"></i>
								</span>
							  </div>
						  {% endif %}

					      <span class="invalid-feedback">
						    {% for error in field.errors %}
						      {{ error }}
						    {% endfor %}
					      </span>
					    </div>
					{% if is_password %}</div>{% endif %}
				    {% endfor %}
			      </div>
			    {% endfor %}

			    <!--register and login buttons-->
				<div class="row text-center">

				  <script src="{% static '/shop/js/add_presubmit_validation.js' %}"></script>
				  <script>addPresubmitValidation()</script>

				  <button type="submit" class="btn btn-success btn-lg mb-1">Register</button>
				  <p class="mb-0">Already has an account? <a href="{%url 'shop:login' %}">Login</a></p>
				</div>
			  </div>
			</div>
		  </div>
	    </div>
	  </div>
    </div>
  </form>
{% endblock content%}