h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: calc(1.3rem + .6vw);
    font-family: inherit;
    line-height: 1.2;
}

main {
    padding-top: 60px;
}


.navbar__toggler.active .bar:nth-child(2) {
    opacity: 0;
}

.navbar__toggler.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar__toggler.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


q[lang="ru"] {
    quotes: '-' '-';
}

::selection {
    color: red;
    background-color:black;
}

.footer-img {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.cert {
    border-image: url('../images/certificate.png') 30 round round;
    border-image-width: 34px 98px;
    padding: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/big_logo.svg');
    background-size: cover;
}

.cert p {
    background: linear-gradient(to top, #FF0000, #0000FF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 10;
    font: 62.5% "Roboto","Arial","Helvetica",sans-serif;
}