.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides.active-item {
  display: block;
}


/* Caption text */

.wrapper {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* Fading animation */
.active {
  animation: slide-to 1000ms;
}

.passive {
  animation: slide-from 1000ms;
  transform: translateX(-100%);
}

@keyframes slide-to {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-from {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}