
.container-fluid {
    --gutter-x: 1.5rem;
    --gutter-y: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.row {
    --gutter-x: 1.5rem;
    --gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--gutter-y));
    margin-right: calc(-.5 * var(--gutter-x));
    margin-left: calc(-.5 * var(--gutter-x));
}

.col, .col-1 {
    flex: 0 0 auto;
    flex-direction: column;
    width: 100%;
}

.col-2 {
    flex: 0 0 auto;
    flex-direction: column;
    width: 50%;
}

.col-3 {
    flex: 0 0 auto;
    flex-direction: column;
    width: 33.33%;
}

.col-4 {
    flex: 0 0 auto;
    flex-direction: column;
    width: 25%;
}

.col-5 {
    flex: 0 0 auto;
    flex-direction: column;
    width: 20%;
}

.col-6 {
    flex: 0 0 auto;
    flex-direction: column;
    width: 16.66%;
}


@media (min-width: 768px) {
    .col-m-1 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .col-m-2 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 50%;
    }

    .col-m-3 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 33.33%;
    }

    .col-m-4 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 25%;
    }

    .col-m-5 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 20%;
    }

    .col-m-6 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 16.66%;
    }
}

@media (min-width: 992px) {
    .col-l-1 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .col-l-2 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 50%;
    }

    .col-l-3 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 33.33%;
    }

    .col-l-4 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 25%;
    }

    .col-l-5 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 20%;
    }

    .col-l-6 {
        flex: 0 0 auto;
        flex-direction: column;
        width: 16.66%;
    }
}




*, ::after, ::before {
    box-sizing: border-box;
}

.dashboard #content {
    width: 100%;
}