.colMS, .colMS * {
    box-sizing: border-box;
}

.dashboard #content {
    width: 100% !important;
}

#content-related {
    float:none;
    width: 100%;
}

#statistic .diagram {
    width: 85%;
    height: 93%;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: center !important;
}

tr > td:first-child,
tr > th:first-child {
    background: red;
}

tr > td:last-child,
tr > th:last-child {
    background: yellow;
}

tr > td:nth-child(even):not(:last-child):not(:first-child),
tr > th:nth-child(even):not(:last-child):not(:first-child) {
    background: purple;
}

td:empty, th:empty {
    background: lime;
}

body {
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

