<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>

    {% load auth_extras %}

    {% if products.count > 0 %}
    <h2>Product list</h2>

    <form method="get">
        <button type="submit" class="btn btn-sm btn-primary btn-raised mr-3">Sort</button>
        <input name="sort" type="checkbox" value="name" {{ by_name }}>By name
        <input name="sort" type="checkbox" value="-price" {{ by_price }}>By price
        <input name="sort" type="checkbox" value="-product_type" {{ by_product_type }}>By product type
    </form>

    <table>
        {% for product in products %}
        <tr>
            <td>{{ product.name     }}</td>
            <td>|</td>
            <td>{{ product.price     }}</td>
            <td>|</td>
            <td>{{ product.product_type }}</td>
        </tr>
        {% endfor %}
    </table>





    {% elif products.count == 0 %}
    <h2>There is no products now</h2>
    {% endif %}

    <a href="/accounts/login/">Log in</a>

    {% if request.user|has_group:"Employee" %}

    <h2>Byes list</h2>
    <table>
        {% for bye in byes %}
        <tr>
            <td>{{ bye.date     }}</td>
            <td>|</td>
            <td>{{ bye.article     }}</td>
            <td>|</td>
            <td>{{ bye.count }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Providers list</h2>
    <table>
        {% for provider in providers %}
        <tr>
            <td>{{ provider.name     }}</td>
            <td>|</td>
            <td>{{ provider.phone     }}</td>
            <td>|</td>
            <td>{{ provider.address }}</td>
        </tr>
        {% endfor %}
    </table>

    {% elif user.is_superuser %}

     <a href="/admin/">Admin panel</a>

    {% endif %}


    <h4>Temperature now</h4>
    <h4>{{temp}} C</h4>

    <h4>Bitcoin to $ now</h4>
    <h4>{{bitc}}</h4>


</body>
</html>